img {
	border: 8px solid tomato;
	max-height: 400px;
}

.tile-top, .tile-bottom {
	background: tomato;
	position: absolute;
	height: 80px;
	width: 80px;
}

.tile-top {
	left: 8px;
}

.tile-bottom {
	left: 440px;
	top: 275px;
}